@model List<Models.EF.Slide>
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listNewProduct = (List<Models.EF.Product>)ViewBag.listNewProduct;
    var listFeatureProduct = (List<Models.EF.Product>)ViewBag.listFeatureProduct;
}
@section slidehome{
    <section class="homepage-slider" id="home-slider">
        <div class="flexslider">
            <ul class="slides">
                @foreach (var item in Model)
                {
                    <li>
                        <img src="@item.Image" />
                    </li>
                }
            </ul>
        </div>
    </section>
}
<section class="main-content">
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="span12">
                    <h4 class="title">
                        <span class="pull-left"><span class="text"><span class="line"><strong>Sản phẩm </strong>nổi bật</span></span></span>
                        <span class="pull-right">
                            <a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
                        </span>
                    </h4>
                    <div id="myCarousel" class="myCarousel carousel slide">
                        <div class="carousel-inner">
                            <div class="active item">
                                <ul class="thumbnails">
                                    @for (int i = 0; i < 4; i++)
                                    {
                                        var url = "/chi-tiet/" + listFeatureProduct[i].MetaTitle + "-" + listFeatureProduct[i].ID;
                                        <li class="span3">
                                            <div class="product-box">
                                                <p><a href="@url"><img src="@listFeatureProduct[i].Image" alt="@listFeatureProduct[i].Name" /></a></p>
                                                <div class="name-box">
                                                    <a href="@url" class="title">@listFeatureProduct[i].Name</a><br />
                                                    @if (listFeatureProduct[i].PromotionPrice != null)
                                                    {
                                                        <del class="price">@(listFeatureProduct[i].Price.Value.ToString("N0") + "VND")</del>
                                                        <p class="price">@(@listFeatureProduct[i].PromotionPrice.Value.ToString("N0") + "VND")</p>
                                                    }
                                                    @if (listFeatureProduct[i].PromotionPrice == null)
                                                    {
                                                        <p class="price">@(@listFeatureProduct[i].Price.Value.ToString("N0") + "VND")</p>
                                                    }
                                                </div>
                                            </div>
                                        </li>
                                    }

                                </ul>
                            </div>
                            <div class="item">
                                <ul class="thumbnails">
                                    @for (int i = 4; i < 8; i++)
                                    {
                                        var url = "/chi-tiet/" + listFeatureProduct[i].MetaTitle + "-" + listFeatureProduct[i].ID;
                                        <li class="span3">
                                            <div class="product-box">
                                                <p><a href="@url"><img src="@listFeatureProduct[i].Image" alt="@listFeatureProduct[i].Name" /></a></p>
                                                <div class="name-box">
                                                    <a href="@url" class="title">@listFeatureProduct[i].Name</a><br />
                                                    @if (listFeatureProduct[i].PromotionPrice != null)
                                                    {
                                                        <del class="price">@(listFeatureProduct[i].Price.Value.ToString("N0") + "VND")</del>
                                                        <p class="price">@(@listFeatureProduct[i].PromotionPrice.Value.ToString("N0") + "VND")</p>
                                                    }
                                                    @if (listFeatureProduct[i].PromotionPrice == null)
                                                    {
                                                        <p class="price">@(@listFeatureProduct[i].Price.Value.ToString("N0") + "VND")</p>
                                                    }
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="span12">
                    <h4 class="title">
                        <span class="pull-left"><span class="text"><span class="line"><strong>Sản phẩm </strong> mới nhất</span></span></span>
                        <span class="pull-right">
                            <a class="left button" href="#myCarousel-2" data-slide="prev"></a><a class="right button" href="#myCarousel-2" data-slide="next"></a>
                        </span>
                    </h4>
                    <div id="myCarousel-2" class="myCarousel carousel slide">
                        <div class="carousel-inner">
                            <div class="active item">
                                <ul class="thumbnails">
                                    @for (int i = 0; i < 4; i++)
                                    {
                                        var url = "/chi-tiet/" + listNewProduct[i].MetaTitle + "-" + listNewProduct[i].ID;
                                        <li class="span3">
                                            <div class="product-box">
                                                <p><a href="@url"><img src="@listNewProduct[i].Image" alt="@listNewProduct[i].Name" /></a></p>
                                                <div class="name-box">
                                                    <a href="@url" class="title">@listNewProduct[i].Name</a><br />
                                                    @if (listFeatureProduct[i].PromotionPrice != null)
                                                    {
                                                        <del class="price">@(listFeatureProduct[i].Price.Value.ToString("N0") + "VND")</del>
                                                        <p class="price">@(@listFeatureProduct[i].PromotionPrice.Value.ToString("N0") + "VND")</p>
                                                    }
                                                    @if (listFeatureProduct[i].PromotionPrice == null)
                                                    {
                                                        <p class="price">@(@listFeatureProduct[i].Price.Value.ToString("N0") + "VND")</p>
                                                    }
                                                </div>
                                            </div>
                                        </li>
                                    }

                                </ul>
                            </div>
                            <div class="item">
                                <ul class="thumbnails">
                                    @for (int i = 4; i < 8; i++)
                                    {
                                        var url = "/chi-tiet/" + listFeatureProduct[i].MetaTitle + "-" + listFeatureProduct[i].ID;
                                        <li class="span3">
                                            <div class="product-box">
                                                <p><a href="@url"><img src="@listFeatureProduct[i].Image" alt="@listFeatureProduct[i].Name" /></a></p>
                                                <div class="name-box">
                                                    <a href="@url" class="title">@listFeatureProduct[i].Name</a><br />
                                                    @if (listFeatureProduct[i].PromotionPrice != null)
                                                    {
                                                        <del class="price">@(listFeatureProduct[i].Price.Value.ToString("N0") + "VND")</del>
                                                        <p class="price">@(@listFeatureProduct[i].PromotionPrice.Value.ToString("N0") + "VND")</p>
                                                    }
                                                    @if (listFeatureProduct[i].PromotionPrice == null)
                                                    {
                                                        <p class="price">@(@listFeatureProduct[i].Price.Value.ToString("N0") + "VND")</p>
                                                    }
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row feature_box">
                <div class="span6">
                    <div class="service">
                        <div class="customize">
                            <img src="~/assets/client/themes/images/feature_img_1.png" alt="" />
                            <h4><strong>GIAO HÀNG</strong> MIỄN PHÍ</h4>
                            <p>Giao hàng miễn phí toàn quốc cho đơn hàng trên 5 triệu.</p>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="service">
                        <div class="support">
                            <img src="~/assets/client/themes/images/feature_img_3.png" alt="" />
                            <h4><strong>Hỗ trợ</strong> TRỰC TUYẾN 24/7</h4>
                            <p>Hỗ trợ khách hàng liên tục các ngày trong tuần 24h một ngày.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="our_client">
    <h4 class="title"><span class="text">Nhà sản xuất</span></h4>
    <div class="row">
        <div class="span2">
            <a href="#"><img alt="" src="~/assets/client/themes/images/clients/14.png"></a>
        </div>
        <div class="span2">
            <a href="#"><img alt="" src="~/assets/client/themes/images/clients/35.png"></a>
        </div>
        <div class="span2">
            <a href="#"><img alt="" src="~/assets/client/themes/images/clients/1.png"></a>
        </div>
        <div class="span2">
            <a href="#"><img alt="" src="~/assets/client/themes/images/clients/2.png"></a>
        </div>
        <div class="span2">
            <a href="#"><img alt="" src="~/assets/client/themes/images/clients/3.png"></a>
        </div>
        <div class="span2">
            <a href="#"><img alt="" src="~/assets/client/themes/images/clients/4.png"></a>
        </div>
    </div>
</section>