@model Models.EF.Product
@{
    ViewBag.Title = "ProductDetail";
    Layout = "/Views/Shared/_Layout.cshtml";
    var listRelatedProduct = (List<Models.EF.Product>)ViewBag.listRelatedProduct;
    int lengthListRelatedProduct = listRelatedProduct.Count;
}
@section slidehome{

    <section class="header_text sub">
        <img class="pageBanner" src="~/assets/client/themes/images/pageBanner.png" alt="New products">
        <h4><span>Chi tiết sản phẩm</span></h4>
    </section>
}
<section class="main-content">
    <div class="row">
        <div class="span9">
            <div class="row">
                <div class="span4">
                    <a href="@Model.Image" class="thumbnail" data-fancybox-group="group1" title=""><img alt="" src="@Model.Image"></a>
                    <ul class="thumbnails small">
                        <li class="span1">
                            <a href="~/assets/client/themes/images/ladies/2.jpg" class="thumbnail" data-fancybox-group="group1" title=""><img src="~/assets/client/themes/images/ladies/2.jpg" alt=""></a>
                        </li>
                        <li class="span1">
                            <a href="~/assets/client/themes/images/ladies/3.jpg" class="thumbnail" data-fancybox-group="group1" title=""><img src="~/assets/client/themes/images/ladies/3.jpg" alt=""></a>
                        </li>
                        <li class="span1">
                            <a href="~/assets/client/themes/images/ladies/4.jpg" class="thumbnail" data-fancybox-group="group1" title=""><img src="~/assets/client/themes/images/ladies/4.jpg" alt=""></a>
                        </li>
                        <li class="span1">
                            <a href="~/assets/client/themes/images/ladies/5.jpg" class="thumbnail" data-fancybox-group="group1" title=""><img src="~/assets/client/themes/images/ladies/5.jpg" alt=""></a>
                        </li>
                    </ul>
                </div>
                <div class="span5">
                    <address>
                        <strong>Brand:</strong> <span>Apple</span><br>
                        <strong>Product Code:</strong> <span>Product 14</span><br>
                        <strong>Reward Points:</strong> <span>0</span><br>
                        <strong>Availability:</strong> <span>Out Of Stock</span><br>
                    </address>
                    @if (Model.PromotionPrice == null)
                    {
                        <h4><strong>@(Model.Price.Value.ToString("N0") + " VND")</strong></h4>
                    }
                    else
                    {
                        <del><strong>@(Model.Price.Value.ToString("N0") + " VND")</strong></del>
                        <h4><strong>@(Model.PromotionPrice.Value.ToString("N0") + " VND")</strong></h4>
                    }
                </div>
                <div class="span5">
                    <form class="form-inline">
                        @*<label class="checkbox">
                                <input type="checkbox" value=""> Option one is this and that
                            </label>
                            <br />
                            <label class="checkbox">
                                <input type="checkbox" value=""> Be sure to include why it's great
                            </label>
                            <p>&nbsp;</p>*@
                        <label>Số lượng:</label>
                        <input type="text" class="span1" placeholder="1">
                        <button class="btn btn-inverse" type="submit">Thêm vào giỏ hàng</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="span9">
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active"><a href="#home">Mô tả</a></li>
                        <li class=""><a href="#profile">Thông tin thêm</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="home">@Model.Description</div>
                        <div class="tab-pane" id="profile">
                            <table class="table table-striped shop_attributes">
                                <tbody>
                                    <tr class="">
                                        <th>Size</th>
                                        <td>Large, Medium, Small, X-Large</td>
                                    </tr>
                                    <tr class="alt">
                                        <th>Colour</th>
                                        <td>Orange, Yellow</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="span9">
                    <br>
                    <h4 class="title">
                        <span class="pull-left"><span class="text"><strong>Sản phẩm</strong> liên quan</span></span>
                        <span class="pull-right">
                            <a class="left button" href="#myCarousel-1" data-slide="prev"></a><a class="right button" href="#myCarousel-1" data-slide="next"></a>
                        </span>
                    </h4>
                    <div id="myCarousel-1" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="active item">
                                <ul class="thumbnails listing-products">
                                    @if (lengthListRelatedProduct > 3)
                                    {
                                        for (int i = 0; i < 3; i++)
                                        {
                                            var url = "/chi-tiet/" + listRelatedProduct[i].MetaTitle + "-" + listRelatedProduct[i].ID;
                                            <li class="span3">
                                                <div class="product-box">
                                                    <span class="sale_tag"></span>
                                                    <a href="@url"><img alt="" src="@listRelatedProduct[i].Image"></a><br />
                                                    <a href="@url" class="title">@listRelatedProduct[i].Name</a><br />
                                                    @if (listRelatedProduct[i].PromotionPrice != null)
                                                    {
                                                        <del class="price">@(listRelatedProduct[i].Price.Value.ToString("N0") + "VND")</del>
                                                        <p class="price">@(listRelatedProduct[i].PromotionPrice.Value.ToString("N0") + "VND")</p>
                                                    }
                                                    @if (listRelatedProduct[i].PromotionPrice == null)
                                                    {
                                                        <p class="price">@(listRelatedProduct[i].Price.Value.ToString("N0") + "VND")</p>
                                                    }
                                                </div>
                                            </li>
                                        }
                                    }
                                    else
                                    {
                                        for (int i = 0; i < lengthListRelatedProduct; i++)
                                        {
                                            var url = "/chi-tiet/" + listRelatedProduct[i].MetaTitle + "-" + listRelatedProduct[i].ID;
                                            <li class="span3">
                                                <div class="product-box">
                                                    <span class="sale_tag"></span>
                                                    <a href="@url"><img alt="" src="@listRelatedProduct[i].Image"></a><br />
                                                    <a href="@url" class="title">@listRelatedProduct[i].Name</a><br />
                                                    @if (listRelatedProduct[i].PromotionPrice != null)
                                                    {
                                                        <del class="price">@(listRelatedProduct[i].Price.Value.ToString("N0") + "VND")</del>
                                                        <p class="price">@(listRelatedProduct[i].PromotionPrice.Value.ToString("N0") + "VND")</p>
                                                    }
                                                    @if (listRelatedProduct[i].PromotionPrice == null)
                                                    {
                                                        <p class="price">@(listRelatedProduct[i].Price.Value.ToString("N0") + "VND")</p>
                                                    }
                                                </div>
                                            </li>
                                        }
                                    }

                                </ul>
                            </div>

                            @if (lengthListRelatedProduct > 3)
                            {
                                <div class="item">
                                    <ul class="thumbnails listing-products">
                                        @for (int i = 3; i < lengthListRelatedProduct; i++)
                                        {
                                            var url = "/chi-tiet/" + listRelatedProduct[i].MetaTitle + "-" + listRelatedProduct[i].ID;
                                            <li class="span3">
                                                <div class="product-box">
                                                    <span class="sale_tag"></span>
                                                    <a href="@url"><img alt="" src="@listRelatedProduct[i].Image"></a><br />
                                                    <a href="@url" class="title">@listRelatedProduct[i].Name</a><br />
                                                    @if (listRelatedProduct[i].PromotionPrice != null)
                                                    {
                                                        <del class="price">@(listRelatedProduct[i].Price.Value.ToString("N0") + "VND")</del>
                                                        <p class="price">@(listRelatedProduct[i].PromotionPrice.Value.ToString("N0") + "VND")</p>
                                                    }
                                                    @if (listRelatedProduct[i].PromotionPrice == null)
                                                    {
                                                        <p class="price">@(listRelatedProduct[i].Price.Value.ToString("N0") + "VND")</p>
                                                    }
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @{Html.RenderAction("SlidebarRight", "Product");}
    </div>
</section>
@section jsFooter{
    <script>
        $(function () {
            $('#myTab a:first').tab('show');
            $('#myTab a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            })
        })
        $(document).ready(function () {
            $('.thumbnail').fancybox({
                openEffect: 'none',
                closeEffect: 'none'
            });

            $('#myCarousel-2').carousel({
                interval: 2500
            });
        });
    </script>
}